/* historyPage.css */

.history-page-container {
  background: linear-gradient(45deg, #ffffff, #add8e6);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
}

.history-page-container h1 {
  font-size: 3em;
  color: #333;
  margin-top: 200px;
}

.button-container {
  margin: 15px 0;
}

.button-container button {
  margin: 0 10px;
  padding: 6px 20px;
  font-size: 16px;
  cursor: pointer;
}

#no-trans{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.transaction-list {
  width: 100%;
  max-width: 1000px;
  margin: 20px;
  padding: 0;
}

.transaction-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.transaction-item {
  background: #fff;
  position: relative;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: auto;
  /* Allow auto height for flexibility */
  margin-bottom: 20px;
}

.buttons {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.buttons button{
  background-color: inherit;
  border: none;
}

.buttons button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.25);
}

.transaction-item p {
  margin: 5px 0;
}

.transaction-item strong {
  font-weight: 600;
}

/* Conditional styling for income and expense */
.income {
  background-color: #e6ffe6;
  /* light green */
}

.expense {
  background-color: #ffe6e6;
  /* light red */
}



/* Media Queries for responsiveness */
@media (max-width: 1200px) {
  .transaction-list ul {
    margin: 0 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .transaction-list ul {
    margin: 0 10px;
    grid-template-columns: 1fr;
  }

  .transaction-item {
    width: 100%;
  }
}